<section section-id="{{ sectionId }}" 
class="features-section-1 py-1 specs d-flex justify-content-center align-items-center py-md-5"
style="{% if settings.background_color %}background-color: {{ settings.background_color }}; {% endif %}"
>
   <div class="container elemnts row" style="{% if settings.color %}color: {{ settings.color }}; {% endif %}">
    {% for key, feature in settings.features %}
      <div class="py-3 div1 col-sm-6 col-md-3">
         <div class="icon">
            <img loading="lazy" src="{{ imageUrl(feature.image) }}">
         </div>
         <div class="text-style">
            {{ feature.text }}
         </div>
      </div>
    {% endfor %}
   </div>
</section>


{% schema %}
{
  "name": {
    "ar": "خصائص المنتج",
    "en": "Features"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "features": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "info": {
        "ar": "",
        "en": ""
      },
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "text"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم ٢٠٠ *٢٠٠ ",
            "en": "This is an info text sample here"
          }
        }
      }
    },
    "color": {
      "type": "color",
      "label": {
        "ar": "لون النص",
        "en": "Color"
      }
    },
    "background_color": {
      "type": "color",
      "label": {
        "ar": "لون الخلفية",
        "en": "Background Color"
      }
    }
  }
}
{% endschema %}
