<section section-id="{{ sectionId }}" class="product products-details-page">
      <div class="container pb-3">
         <section class="products-details">
            <div>
               <div class="row">
                  <div class="col-lg-6 order-md-2">
                     <!--GALLERY-->
                     <div id="wrap">
                        <div class="row">
                           <div class="col-12 col-product-image-wrapper">
                              <!-- Carousel -->
                              <div class="box-1-1 product-images-carousel product-images-carousel-init {% if product.selected_product.images | length <= 0 %}d-none{% endif %}">
                                 <div class="content">
                                    <div id="product-images" class="product-images slide gallery">
                                       <div id="product-images-slick">
                                          {% for key, image in product.selected_product.images %}
                                          <div>
                                             <div class="box-1-1">
                                                <div class="content">
                                                   <a class="image-link"
                                                      style="display:block; width: 100%; height: 100%;">
                                                   <img src="{{ image.image.full_size }}" class="carousel-img" alt="{{ image.alt_text }}">
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          {% endfor %}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row lg-thumbs d-lg-flex product-images-carousel-thumbs {% if product.selected_product.images | length <= 1 %}d-none-important{% endif %}">
                                 {% for key, image in product.selected_product.images %}
                                 <div class="col-3">
                                    <div class="box-1-1">
                                       <div class="content">
                                          <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"
                                             style="width: 100%; height: 100%;" >
                                          <img src="{{ image.image.medium }}" data-index="{{ key }}">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 {% endfor %}
                              </div>
                              <!-- No image -->
                              <div class="box-1-1 product-images-empty {% if product.selected_product.images | length > 0 %}d-none{% endif %}">
                                 <div class="content">
                                    <div class="d-flex" style="width: 100%; height: 100%;">
                                       <img src="{{ asset_url ~ 'product-img.svg' }}" width="100%" height="auto" />
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 order-md-1 col-product-info {% if product.selected_product.images | length <= 1 %}col-product-info-single-image{% endif %}">
                     <section class="product-headline-description">
                        <div style="position: relative">
                           {% if product.badge %}
                           <span class="badge-name ticket" >
                              <div class="gift-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_104_1731)">
                                       <path d="M11.0836 5.67912C11.084 4.94895 10.8999 4.23051 10.5484 3.59053C10.1968 2.95055 9.68923 2.40979 9.07277 2.01848C8.4563 1.62717 7.75094 1.398 7.0222 1.35226C6.29346 1.30652 5.56498 1.44569 4.90442 1.75684C4.24386 2.06799 3.67265 2.54103 3.24384 3.13203C2.81503 3.72302 2.54253 4.4128 2.45166 5.1373C2.36078 5.8618 2.45448 6.59751 2.72404 7.2761C2.9936 7.9547 3.43028 8.55416 3.99353 9.01882V12.7692C3.99348 12.8363 4.01062 12.9024 4.0433 12.9611C4.07599 13.0198 4.12314 13.0691 4.18028 13.1045C4.23741 13.1398 4.30263 13.1599 4.36974 13.1629C4.43685 13.1659 4.50361 13.1517 4.56369 13.1217L6.75077 12.0306L8.93834 13.1241C8.99318 13.1504 9.05332 13.1637 9.11411 13.163C9.21858 13.163 9.31876 13.1215 9.39263 13.0477C9.4665 12.9738 9.508 12.8736 9.508 12.7692V9.01882C10.0008 8.61293 10.3977 8.10297 10.6701 7.52556C10.9425 6.94814 11.0837 6.31757 11.0836 5.67912ZM3.20575 5.67912C3.20575 4.97798 3.41366 4.29259 3.80319 3.70961C4.19272 3.12664 4.74638 2.67227 5.39415 2.40395C6.04191 2.13564 6.7547 2.06544 7.44236 2.20222C8.13003 2.33901 8.76169 2.67664 9.25747 3.17242C9.75325 3.66819 10.0909 4.29986 10.2277 4.98752C10.3645 5.67519 10.2942 6.38797 10.0259 7.03574C9.75762 7.68351 9.30325 8.23716 8.72027 8.62669C8.1373 9.01623 7.4519 9.22414 6.75077 9.22414C5.81089 9.22309 4.90981 8.84927 4.24521 8.18467C3.58062 7.52008 3.20679 6.619 3.20575 5.67912ZM8.72022 12.132L6.92654 11.2354C6.87182 11.2081 6.81147 11.1938 6.75027 11.1938C6.68908 11.1938 6.62873 11.2081 6.57401 11.2354L4.78131 12.132V9.53777C5.39104 9.84941 6.06602 10.0119 6.75077 10.0119C7.43552 10.0119 8.11049 9.84941 8.72022 9.53777V12.132ZM6.75077 8.43636C7.2961 8.43636 7.82918 8.27465 8.2826 7.97168C8.73603 7.66871 9.08943 7.23809 9.29812 6.73427C9.50681 6.23045 9.56141 5.67606 9.45502 5.14121C9.34863 4.60636 9.08603 4.11507 8.70043 3.72946C8.31482 3.34385 7.82353 3.08125 7.28868 2.97487C6.75383 2.86848 6.19944 2.92308 5.69562 3.13177C5.1918 3.34046 4.76118 3.69386 4.45821 4.14728C4.15524 4.60071 3.99353 5.13379 3.99353 5.67912C3.99431 6.41014 4.28506 7.111 4.80197 7.62792C5.31888 8.14483 6.01974 8.43557 6.75077 8.43636ZM6.75077 3.70967C7.14029 3.70967 7.52106 3.82517 7.84494 4.04158C8.16881 4.25799 8.42124 4.56557 8.5703 4.92544C8.71937 5.28531 8.75837 5.6813 8.68238 6.06334C8.60639 6.44538 8.41881 6.7963 8.14338 7.07173C7.86795 7.34717 7.51702 7.53474 7.13499 7.61073C6.75295 7.68672 6.35696 7.64772 5.99709 7.49866C5.63722 7.3496 5.32963 7.09716 5.11323 6.77329C4.89682 6.44941 4.78131 6.06864 4.78131 5.67912C4.78131 5.15679 4.98881 4.65585 5.35815 4.28651C5.7275 3.91716 6.22843 3.70967 6.75077 3.70967Z" fill="#780001"></path>
                                    </g>
                                    <defs>
                                       <clipPath id="clip0_104_1731">
                                          <rect width="12.6045" height="12.6045" fill="white" transform="translate(0.44873 0.952393)"></rect>
                                       </clipPath>
                                    </defs>
                                 </svg>
                              </div>
                              <span class="text-ticket">{{product.badge.body[session.lang.code]}}</span>
                           </span>
                           {% endif %}
                           {# Title  #}
                           {% if settings.title %}
                           <h1 class="pb-3 product-headline">{{ settings.title }}</h1>
                           {% else %}
                           <h1 class="pb-3 product-headline">{{ product.name | raw }}</h1>
                           {% endif %}
                           {# Description  #}
                           {% if settings.description %}
                                 <div class="pb-4 description description-wrapper" style="align-self: stretch; text-align: right">
                                    {{ settings.description | raw }}
                                 </div>
                           {% else %}
                              {% if product.short_description is not empty %}                                   
                                 <div class="pb-4 description description-wrapper" style="align-self: stretch; text-align: right">
                                    {{ product.short_description | raw }}
                                 </div>
                                 {% endif %}
                           {% endif %}
                           
                           <!-- Price  START-->
                           <div class="d-flex">
                              <div class="d-flex" style="align-items: baseline;gap: 10px;">
                                 <h2 class="product-formatted-price theme-text-primary">{% if product.selected_product.formatted_sale_price %}{{ product.selected_product.formatted_sale_price }}{% else %}{{ product.selected_product.formatted_price }}{% endif %}</h2>
                                 <p class="price-discount-wrapper">
                                    <del class="product-formatted-price-old">{% if product.selected_product.formatted_sale_price %} {{ product.selected_product.formatted_price }}{% endif %}</del>
                                    <span class="product-formatted-price-discount" style="color:#f25f5f;">{% if product.selected_product.formatted_sale_price %}  &nbsp;  &nbsp;{{ locals.product_discount }}&nbsp;{{ product.discount_percentage }}%{% endif %}</span>
                                 </p>
                              </div>
                           </div>
                           <!-- Price  END-->
                        </div>
                     </section>
                     <form id="product-form">
                        <input id="product-id" type="hidden" value="{{ product.selected_product.id }}">
                        <div class="size-box">
                            {% include 'template_for_product_variants_list' %}
                           <!-- new custom fields update -->
                           {% if product.has_custom_input_fields  %}
                           <div class="border-product" style="margin-top: 25px"></div>
                              {% include 'template_for_product_custom_input_fields' %}
                           {% endif %}
                        </div>
                        <div class="product-actions">
                           <div class="product-buttons d-none">
                              <div class="border-product"></div>
                              <button  id="floatBtn" style="margin-bottom: 20px"
                                 class="btn btn-add-to-cart buy-now" type="button" onclick="productAddToCart()">
                              <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i>
                              <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25" height="25"/>
                              <span>{{ locals.buy_now }}</span>
                              </button>
                           </div>
                           <div class="select-quantity-div d-none">
                              <h4 class="product-title">{{ locals.product_cart_quantity }}</h4>
                              <div class="form-group">
                                 <div>
                                    <input type="hidden" id="product-quantity" name="quantity" class="select-quantity" value="1" />
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Notify Me  START-->
                        <div class="section-out-of-stock-notify-me {% if product.selected_product.out_of_stock %}d-block{% else %}d-none{% endif %}">
                           <div class="border-product" style="margin-top: 15px"></div>
                           <div>
                              <h4 class="product-title">{{ locals.lbl_error_product_out_of_stock }}</h4>
                     <form>
                     <input type="hidden" class="send-notify-product-id" value="{{ product.selected_product.id }}">
                     <div class="form-group form-notify-me">
                     <h4>{{ locals.notify_me_title }}</h4>
                     <input class="form-control send-notify-name" value="{{ customer.name }}" type="text" placeholder="{{ locals.notify_me_hint_name }}" />
                     <input class="form-control send-notify-email" type="email" value="{{ customer.email }}" placeholder="{{ locals.notify_me_hint }}" />
                     <div class="d-flex form-notify-me-phone-row">
                     <input class="form-control send-notify-country-key"
                     type="number"
                     {% if customer.mobile  %}
                     value="{{ customer.mobile | slice(0, 3) }}"
                     {% else %}
                     value="966"
                     {% endif %}
                     placeholder="966" maxlength="4" />
                     <input class="form-control send-notify-phone" type="number"  value="{{ customer.mobile | slice(3, 9) }}" placeholder="{{ locals.notify_me_hint_mobile }}" maxlength="10" />
                     </div>
                     <div class="form-notify-me-submit-button-row">
                     <button type="button" class="btn btn-primary btn-send-notify" onclick="sendProductNotifyMe()">
                     <img class="send-notify-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                     {{ locals.send }}
                     </button>
                     </div>
                     </div>
                     </form>
                     </div>
                     </div>
                     <!-- Notify Me  END-->
                     </form>
                     <div>
                        <span id="product-view-add-to-cart"></span>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </section>


{% schema %}
{
  "name": {
    "ar": "المنتج",
    "en": "Product"
  },
  "icon": "fal fa-box",
  "display": true,
  "single": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "Title"
      }
    },
    "description": {
      "type": "textarea",
      "label": {
        "ar": "الوصف",
        "en": "Description"
      }
    }
  }
}
{% endschema %}
