<!doctype html>
<html class="no-js" lang="{{ session.lang.code }}" dir="{% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {{ header_meta_tags | raw }}
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      {#
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">
      #}
      <!--jquery UI -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}IBM+Plex+Sans+Arabic{% endif %}:wght@300;400;500;700&display=swap" rel="stylesheet">
      <style>:root
         {
         --primary-color: {{store.colors.primary}}
         ;
         --text-color-primary-bg: {{store.colors.text_of_primary_bg}}
         ;
         --primary-color-op-5: {{store.colors.primary}}
         0c;
         --sub-primary-color: #521B25;
         --white-color: #fff;
         --warning-color: #FFCF57;
         --danger-color: #EC5550;
         --sucess-color: #5AA788;
         --black-color: #0000;
         --secondary-color: #DEDEDE;
         --secondary-color-alt0: #6B6B6B;
         --secondary-color-alt1: #5A5A5A;
         --secondary-color-alt2: #EFEFEF;
         --secondary-color-alt3: #494949;
         --secondary-color-alt4: #D9D9D9;
         --secondary-color-alt5: #E8E8E8;
         --secondary-color-alt6: #8B8B8B;
         --secondary-color-alt7: #ebebeb;
         --secondary-color-alt8: #484848;
         --secondary-color-alt9: #A8A8A8;
         --secondary-color-alt10: #4A4A4A;
         --secondary-color-alt11: #606060;
         --secondary-color-alt12: #767676;
         --secondary-color-alt13: #F8F8F8;
         /* font-wieght */
         --font-weight-sizeOne: 400;
         --font-wieght-sizeTwo: 700;
         --font-wieght-sizeThree: 600;
         /* font-size */
         --font-size-forteen: 1.167;
         --font-size-sixteen: 1.333;
         --font-size-eighteen: 1.5;
         --main-slider-height: 471.43px;
         --main-slider-sm-height: 115px;
         }
         @font-face {
         font-family: 'icomoon';
         src: url('{{ asset_url }}icomoon.eot?d668y32');
         src: url('{{ asset_url }}icomoon.eot?d668y32#iefix') format('embedded-opentype'), url('{{ asset_url }}icomoon.woff2?d668y32') format('woff2'), url('{{ asset_url }}icomoon.ttf?d668y32') format('truetype'), url('{{ asset_url }}icomoon.woff?d668y32') format('woff'), url('{{ asset_url }}icomoon.svg?d668y32#icomoon') format('svg');
         font-weight: normal;
         font-style: normal;
         font-display: block;
         }
      </style>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'icomoon.css?v=1.0.2' }}"/>
      {% if session.lang.code == 'ar' %}
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'bootstrap-rtl.css?v=1.05' }}"/>
      {% else %}
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'bootstrap.min.css?v=1.01' }}"/>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'bootstrap-fixes.css?v=1.11' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'jquery-ui.min.css' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'jquery-ui.structure.min.css' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'jquery-ui.theme.min.css' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'slick.css' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'slick-theme.css?v=1.08' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'slide-menu.css' }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'slide-menu-style.css?v=1.16' }}"/>
      <link rel="stylesheet" href="{{ assetUrl('main.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'custom.css?v=1.148' }}"/>
      {% if session.lang.code == 'ar' %}
      <link rel="stylesheet" href="{{ asset_url ~ 'main.rtl.css?v=1.25' }}">
      {% endif %}
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'ekko-lightbox.css' }}" />
      <link rel="stylesheet" type="text/css" href="{{ assetUrl('product-details.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ assetUrl('custom-product-style.css') }}" />
      {% if user_custom_css %}
      <link rel="stylesheet" href="{{ user_custom_css }}">
      {% endif %}
      {% if settings.general_settings_css %}
      <style>{{settings.general_settings_css | raw}}</style>
      {% endif %}
      <style>
        .product-headline, .title-red {
            color: var(--primary-color);
        }
        .buy-now {
            border: var(--primary-color);
        }
        .specs {
            background: var(--primary-color);
        }
        .more-specs {
            background: var(--primary-color);
            box-shadow: inset 0 0 0 2000px var(--primary-color);
        }
        .headline, .social-icons span {
            color: var(--primary-color);
        }
        .section-buy-now-form{
            background: #FBFBFB;
        }
      </style>
   </head>
   <body class="purple-landing-page {% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}">
   {% if store.editing_mode %}
   <link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}IBM+Plex+Sans+Arabic{% endif %}:wght@300;400;500;700&display=swap" rel="stylesheet">
   {% endif %}
   <style>
      body,
      html {
      font-family: {% if settings.fonts_name %} {{strReplace('+', ' ', settings.fonts_name)}}{% else %}'IBM Plex Sans Arabic'{% endif %}, sans-serif;
      }
   </style>
   <div class="main flex-grow-1 app-content" style="padding-bottom: 6rem"> 
 		{{ home_template_modules }}


    {% if not product.selected_product.out_of_stock %}
    <div class="buying-buttons">
	    <div class="sticky floating-div" id="floatBtn2">
        <div class="container z-3 border-secondary border-opacity-10 bg-light-subtle shadow-lg rounded-5 rounded-bottom-0 animate__fadeIn animate__delay-1s js-quantity-add-buttons">
            <div class="d-flex flex-wrap justify-content-between align-items-start gap-loating-div pt-4 pb-3">

                <div class="card border-0 flex-fill flex-row js-section-add-to-cart{% if product.selected_product.out_of_stock %} d-none {% endif %}">
                    <button id="product-view-add-to-cart" type="button" onclick="addToCartAction()" class="btn btn-lg btn-primary w-100">
                        <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25" height="25" style="width: 25px; height: 25px;" />
                        <span class="px-1">{{ locals.buy_now }}</span>
                    </button>


                </div>
                
                <div class="d-flex card border-secondary border-opacity-10 shadow-sm js-section-add-to-cart{% if product.selected_product.out_of_stock %} d-none{% endif %}">
                    <div class="input-group w-auto d-flex">
                        <button class="btn btn-link link-secondary text-decoration-none js-product-quantity-decrease" type="button" onclick="decreaseQuantity()">
                            <img class="plus-minus-svg" src="{{ assetUrl('u_minus.svg') }}" loading="lazy">
                            <span class="visually-hidden">{{ locals.decrease_quantity }}</span>
                        </button>
                        <input type="text" min="1" max="100" required value="1" pattern="[0-9]{1,3}" oninput="validity.valid||(value='1');" class="form-control border-0 fs-4 bg-transparent text-center form-control-no-focus js-product-quantity input-quantity-width" id="product-quantity-floating">
                        <button class="btn btn-link link-secondary text-decoration-none js-product-quantity-increase" type="button" onclick="increaseQuantity()">
                            <img class="plus-minus-svg" src="{{ assetUrl('u_plus.svg') }}" loading="lazy">
                            <span class="visually-hidden">{{ locals.increase_quantity }}</span>
                            
                        </button>
                    </div>
                </div>        
            </div>

            <div class="apple-pay-quick-checkout-btn col-12 col-sm-3 col-lg-auto mx-auto js-section-apple-pay-quick-checkout {% if product.selected_product.out_of_stock %}d-none{% endif %}">
                    {% include 'template_for_product_apple_pay_button' %}
            </div>
        </div>
	</div>
    {% endif %}
</div>
   </div>
   {{ zidapi_script|raw }}
   <script>
      window.appDirection = '{% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}';
   </script>
   <script src="{{ asset_url ~ 'jquery-3.6.0.min.js?v=1.0.0' }}"></script>
   <script src="{{ asset_url ~ 'jquery-ui.min.js' }}"></script>
   <script src="{{ asset_url ~ 'popper.min.js?v=1.0' }}"></script>
   <script src="{{ asset_url ~ 'bootstrap.min.js' }}"></script>
   <script src="{{ asset_url ~ 'slide-menu.ie.js?v=1.06' }}"></script>
   <script src="{{ asset_url ~ 'slick.min.js' }}"></script>
   <script type="text/javascript" src="{{ asset_url ~ 'main.js?v=1.119' }}"></script>
   <script type="text/javascript" src="{{ asset_url ~ 'ekko-lightbox.min.js' }}"></script>
   <script type="text/javascript" src="{{ asset_url ~ 'product-details.js' }}"></script>
   <script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>
   <script type="text/javascript"  src="{{ assetUrl('custom-product-script.js?v=1.0026') }}"></script>
   {{ product_view_scripts|raw }}
   <script>
      var productImages = {{  product.selected_product.images | json_encode() | raw }};
      
      
      function addToCartAction() {
            $('.add-to-cart-progress').removeClass('d-none');
              zid.store.cart.buyProduct({ formId: 'product-form' })
              .then(function (response) {
                  if (response.status === 'success') {
                      if (response.data) {
                          setCartTotalAndBadge(response.data.cart);
                      }
      
                      
                      setTimeout(function () {
                          $('.added-notification').removeClass("show");
                      }, 5000);
      
                      var image = $('#product-images-slick .slick-slide.slick-active img');
                      var cart = $('.a-shopping-cart');
      
                      if (image.length && cart.length) {
                          addToCartAnimation(cart, image);
                      }

                      window.location.href="/checkout/choose-address-and-shipping"
                      
                  } else {
      
                      toastr.error(response.data.message, '{{ locals.sorry }}');

                      $('.add-to-cart-progress').addClass('d-none');
                      
                  }
              });
      }
      
      
      function productAddToCart() {
          if(!$('.add-to-cart-progress').hasClass('d-none'))
              return;
      
          $('.add-to-cart-progress').removeClass('d-none');
          
          addToCartAction();
          
      }
      
      function productOptionsChanged(selected_product) {
          if (selected_product) {
              $('#product-id').val(selected_product.id)
              $('.send-notify-product-id').val(selected_product.id)
      
              if (!selected_product.unavailable) {
                  // Selected a valid variant that is available.
                  if(selected_product.formatted_sale_price){
                      $('.product-formatted-price').html(selected_product.formatted_sale_price)
                      $('.product-formatted-price-old').html(selected_product.formatted_price)
                      $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')
      
                  }else{
                      $('.product-formatted-price').html(selected_product.formatted_price)
                      $('.product-formatted-price-old').html('')
                      $('.product-formatted-price-discount').html('')
                  }
      
                  if(selected_product.weight.value){
                      $('.div-product-weight').removeClass('d-none');
                      $('.div-product-weight .product-weight').html(selected_product.weight.value+' '+selected_product.weight.unit)
                  }else{
                      $('.div-product-weight').addClass('d-none')
                  }
      
                  if(selected_product.sku){
                      $('.div-product-sku').removeClass('d-none');
                      $('.div-product-sku .product-sku').html(selected_product.sku)
                  }else{
                      $('.div-product-sku').addClass('d-none');
                  }
      
      
                  {% if store.is_low_stock_label_enabled %}
                  var store_low_stock_limit = {{ store.low_stock_quantity_limit }};
                  var low_stock_message = '{{ locals.product_cart_quantity_low_stock }}';
      
                  if(!selected_product.is_infinite &&  selected_product.quantity < store_low_stock_limit){
                      $('.low-quantity-section').addClass('d-inline-block');
                      $('.low-quantity-section .low-quantity').html(low_stock_message.replace('%s', selected_product.quantity))
                  }else{
                      $('.low-quantity-section').addClass('none');
                  }
                  {% endif %}
      
                  var sold_product_count_message = '{{ locals.product_sold_more_than_x_times }}';
                  if (selected_product.sold_products_count) {
                      $('.product-count').removeClass('d-none');
                      $('.product-count .lang').html(sold_product_count_message.replace('%s', selected_product.sold_products_count))
                  } else {
                      $('.product-count').removeClass('d-flex');
                      $('.product-count').addClass('d-none');
                  }
                  var selectQuantity = ''
      
            
                
                  $('.section-out-of-stock-notify-me').addClass('d-none');
      
                 $('.btn-add-to-cart span').html('{{ locals.buy_now }}');
                  
                  
      
                  updateProductImages(selected_product);
              } else {
                  // Variant is sold out.
                  if(selected_product.formatted_sale_price){
                      $('.product-formatted-price').html(selected_product.formatted_sale_price)
                      $('.product-formatted-price-old').html(selected_product.formatted_price)
                      $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')
      
                  } else{
                      $('.product-formatted-price').html(selected_product.formatted_price)
                      $('.product-formatted-price-old').html('')
                      $('.product-formatted-price-discount').html('')
                  }
                  $('.select-quantity-div').addClass('d-none')
                  $('.product-buttons').addClass('d-none');
                  $('.section-out-of-stock-notify-me').removeClass('d-none');
      
                  $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');
      
                  if(selected_product.sku){
                      $('.div-product-sku').removeClass('d-none');
                      $('.div-product-sku .product-sku').html(selected_product.sku)
                  } else {
                      $('.div-product-sku').addClass('d-none');
                  }
                  updateProductImages(selected_product);
              }
      
          } else {
              // variant doesn't exist.
              $('.select-quantity-div').addClass('d-none')
              $('.product-buttons').addClass('d-none');
              $('.section-out-of-stock-notify-me').removeClass('d-none');
      
              $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');
      
              updateProductImages(selected_product);
          }
      }
      
      function updateProductImages(selected_product) {
          if(selected_product && selected_product.images && selected_product.images.length > 0){
              $('.product-images-carousel').removeClass('d-none');
              $('.product-images-carousel-thumbs').removeClass('d-none-important');
              $('.product-images-empty').addClass('d-none');
              $('#product-images-slick').slick('unslick');
              $('.product-images-carousel').addClass('product-images-carousel-init');
      
              productImages = selected_product.images;
      
              $('#product-images-slick').html('');
              $('.product-images-carousel-thumbs').html('');
      
              for(var z = 0; z < productImages.length; z++){
                  var prImage = productImages[z];
                  $('#product-images-slick').append('' +
                      '<div>\n' +
                      '                                                                    <div class="box-1-1">\n' +
                      '                                                                        <div class="content">\n' +
                      '                                                                            <a class="image-link"\n' +
                      '                                                                               style="display:block; width: 100%; height: 100%;">\n' +
                      '                                                                                <img src="'+ prImage.image.full_size +'" class="carousel-img" alt="'+ selected_product.name +'">\n' +
                      '                                                                            </a>\n' +
                      '                                                                        </div>\n' +
                      '                                                                    </div>\n' +
                      '                                                                </div>');
      
      
                  $('.product-images-carousel-thumbs').append('<div class="col-3">\n' +
                      '                                                         <div class="box-1-1">\n' +
                      '                                                                <div class="content">\n' +
                      '                                                                    <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"\n' +
                      '                                                                       style="width: 100%; height: 100%;" >\n' +
                      '                                                                        <img src="'+ prImage.image.medium +'" data-index="'+ z +'">\n' +
                      '                                                                    </a>\n' +
                      '                                                                </div>\n' +
                      '                                                            </div>\n' +
                      '                                                        </div>');
      
              }
      
              initSlick(productImages);
      
          }else{
              $('.product-images-carousel').addClass('d-none');
              $('.product-images-carousel-thumbs').addClass('d-none-important');
              $('.product-images-empty').removeClass('d-none');
          }
      }
      
      function sendProductNotifyMe() {
          if(!$('.send-notify-progress').hasClass('d-none'))
              return;
      
          $('.send-notify-progress').removeClass('d-none');
          zid.store.product.setAvailabilityNotificationEmail(
              $('.send-notify-product-id').val(),
              $('.send-notify-email').val(),
              $('.send-notify-name').val(),
              '+'+$('.send-notify-country-key').val() + $('.send-notify-phone').val(),
              ).then(function (response) {
              if(response.status  === 'success'){
                  toastr.success('{{ locals.sent_successfully }}', null)
              }else{
                  if(response && response.data && response.data.message) {
                      toastr.error(JSON.stringify(response.data.message), '{{ locals.sorry }}')
                  }else {
                      toastr.error('{{ locals.notify_me_failed }}', '{{ locals.sorry }}')
                  }
              }
              $('.send-notify-progress').addClass('d-none');
          })
      }
      
      
      $('#product-description-a ').click(function(){
          event.preventDefault();
      
          $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top - ((window.matchMedia('(max-width: 768px)').matches) ? 15 :  150)
          }, 500);
      
      });
      
      function addReviewButtonChecks() {
          if (!window.customer){
              $('#add-review-btn').css('display','none');
              $('#add-review-link').removeClass('d-none');
              $('#add-review-link').attr('href', `/auth/login?redirect_to=${window.location.pathname.replace('/','')}`);
          }
      }
      
      $(document).ready(function() {
          initSlick(productImages);
      });
      
      $(document).on('click','.thumb-image-a',function(event){
          var tarr = event.target;
      
          $('#product-images-slick').slick('slickGoTo',$(tarr).attr('data-index'),true);
      });
      
      
      $(document).on('click','#product-images-slick .image-link',function(event){
          $('.pswp').removeClass('d-hide');
          $('.app').addClass('d-hide');
      
          openPhotoSwiper(productImages.map(function (image) {
              return image.image.full_size
          }), $('#product-images-slick .slick-active').attr('data-slick-index'));
      
      });
      
      $(document).on('click','.variant-image-wrapper a',function(event){
          $('.pswp').removeClass('d-hide');
          $('.app').addClass('d-hide');
          var elm = event.currentTarget;
          var varId = $(elm).attr('data-link-var-id');
      
          var images = [];
      
          $("div[data-var-id='"+varId+"']  img").each(function(iElm){
              images.push($( this ).attr('data-image-url'))
          });
      
          openPhotoSwiper(images, $(elm).attr('data-index'));
      });
      
      
      var initSlick = function(productImages) {
          var arrowNextClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_right': 'icon-keyboard_arrow_left';
          var arrowPrevClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_left' : 'icon-keyboard_arrow_right';
      
          $('#product-images-slick').slick({
              infinite: false,
              autoplay: false,
              arrows: (productImages.length > 1),
              dots: (productImages.length > 1),
              rtl: !(window.appDirection === 'ltr'),
              nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
              prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>'
          });
      }
      
      $('#product-images-slick').on('init', function(event, slick){
          $('.product-images-carousel').removeClass('product-images-carousel-init');
      });
      
      var openPhotoSwipe = function(productImages, index) {
          var pswpElement = document.querySelectorAll('.pswp')[0];
      
          // build items array
          var items = productImages.map(function (image) {
              return {
                  src: image,
                  w: 1200,
                  h: 900
              }
          })
      
          var options = {
              history: false,
              focus: false,
      
              showAnimationDuration: 0,
              hideAnimationDuration: 0,
              index: parseInt(''+index)
      
          };
      
          var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
      
          gallery.listen('close', function() {
              $('.pswp').addClass('d-hide');
              $('.app').removeClass('d-hide');
          });
      
          gallery.init();
      };
      
   </script>
   </body>
</html>